<div class="col mb-6" style="margin-bottom: 10px;">
  <div class="card h-100 border-info bg-info text-light" style="width: 15rem; margin-bottom: 5px;">
    <%= image_tag 'ad.jpg', class: "card-img-top", alt: "This is an ad for dog collars" %>
    <div class="card-body">
      <h5 class="card-title">Dog Collar Sale</h5>
      <p class="card-text">Up to 20% off!</p>
      <a href="#" class="btn btn-light">See details</a>
    </div>
  </div>
</div>
